@font-face {
  font-family: 'regular_regular';
  src: url('./static/fonts/Regular/Regular-Regular.otf')  format("opentype");
}
@font-face {
  font-family: 'regular_medium';
  src: url('./static/fonts/Regular/Regular-Medium.otf')  format("opentype");
}
@font-face {
  font-family: 'regular_semibold';
  src: url('./static/fonts/Regular/Regular-Semibold.otf')  format("opentype");
}
*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: regular_medium;
}
h1, h2, h3, h4, h5, h6, .ant-card-head-title {
  font-family: regular_semibold;
}
body {
  background-color: rgb(241, 243, 246) !important;
}
.flex {
  display:flex;
}
.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}
.ant-card {
  background: transparent !important;
}
.ant-menu-inline, .ant-menu-vertical, .ant-menu-vertical-left {
  border: 1px solid transparent;
}
::-webkit-scrollbar {
  width: 7px !important;
  height: 7px !important;
  background-color: #fff;
}
::-webkit-scrollbar-track {
  border-radius: 10px;
  border: 1px solid #fff;
  background-color: #fff;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #2979ff80;
  border: 1px solid #fff;
}
::-webkit-scrollbar-thumb:hover {
  background: #2979ff;
}
::-webkit-scrollbar-thumb:active {
  background-color: #2979ff;
}