*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.flex {
  display:flex;
}
.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}
.ant-card {
  margin: 5px 10px !important;
}
::-webkit-scrollbar {
  width: 7px !important;
  height: 7px !important;
  background-color: #fff;
}
::-webkit-scrollbar-track {
  border-radius: 10px;
  border: 1px solid #fff;
  background-color: #fff;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #90c4ea9c;
  border: 1px solid #fff;
}
::-webkit-scrollbar-thumb:hover {
  background: #108ee99c;
}
::-webkit-scrollbar-thumb:active {
  background-color: #108ee99c;
}